<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:app="http://jaxio.com/app">
	<app:outputLabel for="#{id}_input" value="#{label}" required="#{required}" rendered="#{rendered}" styleClass="#{styleClass}" />
	<h:panelGroup id="#{id}Grid" styleClass="aria-role-presentation" rendered="#{empty rendered ? true : rendered}">
		<p:autoComplete id="#{id}" value="#{value.selected}" label="#{resourcesUtil.getProperty(label)}"
			completeMethod="#{controller['complete']}"
			var="item"
			itemValue="#{item}"
			itemLabel="#{item}"
			multiple="true"
			styleClass="#{styleClass}"
			forceSelection="false">
			<ui:insert/>
		</p:autoComplete>
	</h:panelGroup>
</ui:composition>